<p-panel header="Not so common pipes" class="p-1">
  <p>Pipes included in Angular - Usually in the Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nSelect pipe" [toggleable]="true">
      <p>
        Hola {{ name }}, es un placer {{ gender | i18nSelect : invitationMap }}.
      </p>
      <p-button (click)="changeClient()" label="Cambiar persona"></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="i18nPlural pipe" [toggleable]="true">
      <p>Actualmente {{ clients.length | i18nPlural : clientsMap }}</p>
      <p-button
        (click)="deleteClient()"
        label="Quitar un cliente"
        icon="pi pi-minus-circle"
      ></p-button>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Slice pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>
      <b>slice:0:2</b>
      <pre>{{ clients | slice : 0 : 2 }}</pre>
      <b>slice:1:3</b>
      <pre>{{ clients | slice : 1 : 3 }}</pre>
      <b>slice:0:-2</b>
      <pre>{{ clients | slice : 0 : -2 }}</pre>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Json pipe" [toggleable]="true">
      <pre>{{ person | json }}</pre>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="KeyValue pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          <b>{{ item.key }}</b
          >: {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>
  <div class="col-12 md:col-6">
    <p-fieldset legend="Async pipe" [toggleable]="true">
      <pre>{{ myObservableTimer | async }}</pre>
    </p-fieldset>
  </div>
</div>
