<p-panel header="Numbers Pipes" class="p-1">
  <p>Pipes included in Angular - Usually in the Common Module</p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="Net sales">
      {{ totalSales + 1235 | number : "1.2-2" }}</p-card
    >
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Brut sales">
      {{ totalSales | currency : "USD" : "symbol-narrow" : "1.4-4" }}
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Percentage profit">
      <ol>
        <li>{{ percentage | percent }}</li>
        <li>{{ percentage | percent : "1.2-2" }}</li>
      </ol>
    </p-card>
  </div>
</div>
